RewriteEngine On

# js and css
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*js(.*\.js) /scaffold/app/assets/javascript$1    [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*css(.*\.css) /scaffold/app/assets/css$1    [NC,L]

# php routes
RewriteRule   ^search/?$         app/pages/search.php   [NC,L]
RewriteRule   ^$                 app/pages/search.php    [NC,L]
RewriteRule   ^/?$               app/pages/search.php    [NC,L]
