/* CSS Mini Reset */

html, body, div, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight:normal;
}

img {
  border: 0;
}

/* end CSS Mini Reset */

body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.column {
  width: 7%;
  float: left;
}

.logo {
  float: left;
  font-size: 30px;
  color: #e8e8e8;
  margin: 2%;
  font-family: 'Montserrat', sans-serif;
}


.nav {
    width: 200px;
    background-color: #1e1e1e;
    float: left;
    height: 100%;
    clear: both;
    position:absolute;
    overflow:scroll;
}

.categories {
  list-style: none;
  text-decoration: none;
  color: #e8e8e8;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0em;
}

.categories li {
  padding: 20%;
  font-size: 18px;
}

.search {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #232323;
}

input, select {
  height: 40px;
  width: 20%;
}

.search-icon {
  color: #999;
  left: 12px;
  top: 12px;
  position: absolute;
  background: url('http://localhost/dvd_rental/app/assets/images/search.png');
}

input#search {
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #CFCBC8;
  border-top: 1px solid #C4C0BC;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 10px 10px 38px;
  width: 30%;
  float: right;
  margin: 2%;
}

.film_card {
  width: 14.28%;
  display: inline-block;
  float: left;
  color: #444;
}

.film_card a {
  text-decoration: none;
  color: #444;
}

.film_card p {
  text-align: center;
  margin-top: 2px;
  text: no-wrap:
}

.film_card img {
  border-radius: 2px;
  height: 200px;
  width: 135px;
  display: block;
  margin: 0 auto;
}

.film_card p:hover {
  opacity:0.7;
}

.film_card img:hover,
.film_card a:hover,
li:hover {
  opacity: 0.7;
  filter: alpha(opacity=40);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

li:hover {
    background-color:#4a4a4a;
}
