/* CSS Mini Reset */

html, body, div, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight:normal;
}

img {
  border: 0;
}

/* end CSS Mini Reset */

body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.site-header {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  color: #666;
  font-size: 20px;
}

.container {
  margin: 5%;
}
.column {
  width: 7%;
  float: left;
}

.search {
  text-align: center;
}

input, select {
  height: 40px;
  width: 20%;
}

.search-icon {
  color: #999;
  left: 12px;
  top: 12px;
  position: absolute;
  background: url('http://localhost/dvd_rental/app/assets/images/search.png');
}

input#search {
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #CFCBC8;
  border-top: 1px solid #C4C0BC;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 10px 10px 38px;
  width: 30%;
}
